body {
	background-color: whitesmoke;
}

#main {
	background-color: white;
	/*background-color: transparent;*/
	width: 900px;
	height: 700px;
	border-width: 3px;
	margin: auto;
	overflow: scroll;
	/*overflow: overlay;*/
}

/*user score displayed on top of main div*/
.app-users {
	display:;
	margin: auto 16%;
}

/*hidden loop generated div boxes. NOT WORKING; implemented with jQuery */
.hiddenDiv {
	width: 10px;
	height: 10px;
	background-color: blue;
	display: inline-block;
	margin: 3% 3%;
}

/*This selector will create CSS for all generated comments*/
.comments {
	border: 1px solid grey;
	border-radius: 10px;
	display: inline-block;
}

/*changed comment when clicked based on if statement when clicked*/
.revealedTrue {
	border: 2px solid red;
}
/*changed comment when clicked based on if statement when clicked*/
.revealedFalse {
	border: 2px solid green;
}

.userComment {
	font-size: 12px;
	display: block;
}




