body {
	background-color: whitesmoke;
}

#main {
	background-color: white;
	/*background-color: transparent;*/
	width: 900px;
	height: 700px;
	border-width: 3px;
	margin: auto;
	overflow: scroll;
	/*overflow: overlay;*/
}

/*user score displayed on top of main div*/
.app-users {
	display: inline;
	margin: auto 5% auto 20%;
}
.user-streak {
	display: inline;
	margin: auto 20%  auto 5%;
}

/*hidden loop generated div boxes. NOT WORKING; implemented with jQuery */
.hiddenDiv {
	width: 10px;
	height: 10px;
	background-color: blue;
	display: inline-block;
	margin: 3% 3%;
}

/*This selector will create CSS for all generated comments*/
.comment {
	border: 1px solid grey;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	margin: 0.1% 0 0.2% 0.45%;
	/*do not like userComment not on far left of box*/
	width: ;
	/*position: ;*/
}
.userComment {
	font-size: 0.85em;
	display: block;
	text-align: left;
	/*position: absolute;*/
}

/*changed comment when clicked based on if statement when clicked*/
.revealedTrue {
	border: 2px solid red;
}
/*changed comment when clicked based on if statement when clicked*/
.revealedFalse {
	border: 2px solid lightgreen;
}





