body {
	background-color: whitesmoke;
}

#main {
	background-color: white;
	/*background-color: transparent;*/
	width: 900px;
	height: 700px;
	border-width: 3px;
	margin: auto;
	overflow: scroll;
	/*z-index: 1;*/
	/*overflow: overlay;*/
}
#stats {
	z-index: -1;
	/*position probably better as absolute*/
	position: fixed; 
	width: 900px;
	height: 700px;
	text-align: center;
	margin: 10px 18%;
	font-size: 2em;
	font-weight: 800;
	display: block;
	text-shadow: 2px 2px 5px grey;
}
#stats h5{
	text-align: left;
	margin: 20px;
}
#stats h6{
	margin:10px;
}
.stat-button {
	height: 30px;
	background-color: white;
	color: black;
	margin-bottom: 10px;
	border: 3px dotted black;
	font-weight: 800;
}

#while-pause {
	z-index: -2;
	/*position probably better as absolute*/
	position: fixed; 
	width: 900px;
	height: 700px;
	text-align: center;
	margin: 10px 18%;
	font-size: 2em;
	font-weight: 800;
	display: block;
	text-shadow: 2px 2px 5px grey;
}

/*user score displayed on top of main div*/
.app-users {
	display: inline;
	margin: auto 5% auto 20%;
}
.user-rating {
	display: inline;
	margin: auto 20%  auto 5%;
}

/*hidden loop generated div boxes. NOT WORKING; implemented with jQuery */
.hiddenDiv {
	width: 10px;
	height: 10px;
	background-color: blue;
	display: inline-block;
	margin: 3% 3%;
}

/*This selector will create CSS for all generated comments*/
.comment {
	border: 1px solid grey;
	border-radius: 100px;
	display: inline-block;
	text-align: center;
	padding: 0 10px;
	margin: 0.1% 0 0.2% 0.45%;
	/*do not like userComment not on far left of box*/
	/*width: ;*/
	/*position: ;*/
}
/*.comment {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	padding: 80px 1em 0 1em;
	margin: 0 100px;
	position: relative;
	background-color: lightcyan;
	border-radius: 100% 100% 0 0;
	display: inline-block;
}
.comment::before,
.comment::after {
	content: '';
	position: absolute;
	bottom: 0;
	z-index: -1;
	background-color: lightcyan;
	border-radius: 100%;
}
.comment:before {
	width: 90px;
	height: 90px;
	left: -80px;
	border-bottom-right-radius: 0;
}
.comment::after {
	width: 70px;
	height: 70px;
	right: -60px;
	border-bottom-left-radius: 0;
}*/
.userComment {
	font-size: 0.85em;
	display: block;
	text-align: left;
	/*position: absolute;*/
}

/*changed comment when clicked based on if statement when clicked*/
.revealedTrue {
	border: 2px solid red;
}
/*changed comment when clicked based on if statement when clicked*/
.revealedFalse {
	border: 2px solid lightgreen;
}

#skill-star-comment-clear {
	font-size: 3em;
	padding: 0;
	border: 1px solid lightgreen;
	margin: auto 5% auto 20%;
	background-color: ;
}

#pause {
	height: 40px;
	width: 1px;
	font-size: 2.5em;
	padding: 0px 5px;
	margin: auto 5% auto 50%;
	background-color: lightgrey;
	box-shadow: 0px 0px 5px 1px grey, 20px 0px 0px 0px lightgrey, 20px 0px 5px 1px grey;
	color: rgba(150, 150, 150, 0);

}
	#pause:hover {
	height: 40px;
	width: 1px;
	font-size: 2.5em;
	padding: 0px 5px;
	margin: auto 5% auto 50%;
	background-color: whitesmoke;
	box-shadow: 0px 0px 8px 1px grey, 20px 0px 0px 0px whitesmoke, 20px 0px 8px 1px grey;
	color: rgba(150, 150, 150, 0);
	}





